<!-- 
  <div class="container">
      <div id="accordion" class="accordion accordion-flush">
         Legal 
        <div class="card">
          <div class="card-header" id="legalHeading">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#legalCollapse" aria-expanded="false" aria-controls="legalCollapse">
                Legal
              </button>
            </h5>
          </div>
          <div id="legalCollapse" class="collapse show" aria-labelledby="legalHeading" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-unstyled">
                <li><a href="#" class="text-dark">Privacy Policy</a></li>
                <li><a href="#" class="text-dark">Terms & Conditions</a></li>
                <li><a href="#" class="text-dark">Returns Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
         Help 
        <div class="card">
          <div class="card-header" id="helpHeading">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#helpCollapse" aria-expanded="false" aria-controls="helpCollapse">
                Help
              </button>
            </h5>
          </div>
          <div id="helpCollapse" class="collapse" aria-labelledby="helpHeading" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-unstyled">
                <li><a href="#" class="text-dark">About Us</a></li>
                <li><a href="#" class="text-dark">Contact Us</a></li>
                <li><a href="#" class="text-dark">Frequently Asked Questions</a></li>
                <li><a href="#" class="text-dark">Shipping</a></li>
                <li><a href="#" class="text-dark">Returns</a></li>
              </ul>
            </div>
          </div>
        </div>
       Socials 
        <div class="card">
          <div class="card-header" id="socialsHeading">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#socialsCollapse" aria-expanded="false" aria-controls="socialsCollapse">
                Socials
              </button>
            </h5>
          </div>
          <div id="socialsCollapse" class="collapse" aria-labelledby="socialsHeading" data-parent="#accordion">
            <div class="card-body">
              <ul class="list-unstyled">
                <li><a href="#" class="text-dark">Facebook</a></li>
                <li><a href="#" class="text-dark">Instagram</a></li>
                <li><a href="#" class="text-dark">Twitter</a></li>
                <li><a href="#" class="text-dark">YouTube</a></li>
              </ul>
            </div>
          </div>
        </div>
         Newsletter Form
        <div class="card">
          <div class="card-header" id="newsletterHeading">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#newsletterCollapse" aria-expanded="false" aria-controls="newsletterCollapse">
                Newsletter
              </button>
            </h5>
          </div>
          <div id="newsletterCollapse" class="collapse" aria-labelledby="newsletterHeading" data-parent="#accordion">
            <div class="card-body">
              <p class="text-muted">Subscribe to our newsletter for updates:</p>
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" id="newsletterEmail" placeholder="Your Email">
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-light text-center py-3">
      <p class="mb-0">© 2024 Your Company. All rights reserved.</p>
    </div>

  -->