{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Empty page header to add padding at top of page-->
<div class="container header-container">
    <div class="row">
        <div class="col-12">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid landing-page">
    <div class="row">
        <div class="col-12 col-md-6 text-center my-auto">
            <!-- Page Header-->
            <h1 class="logo-font my-4 text-black">craft collective.</h1>
            <!-- Shop Now button -->
            <a href="{% url 'products' %}" type="button" class="btn btn-outline-black rounded-0 text-uppercase px-2" 
               aria-label="shop now">shop now</a>
            <!-- Free Delivery Information -->
            <p class="my-4">Free delivery on orders over £{{ free_delivery_threshold }}</p>
        </div>
        <!-- Landing Image -->
        <div class="col-12 col-md-6 landing-img">
            <img src="{{ MEDIA_URL }}landing-img.webp" width="100%" alt="">
        </div>
    </div>
</div>
{% endblock %}