{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container align-content-center">
        <div class="row">
            <div class="col text-center">
                <h2 class="logo-font"></h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid landing-page">
    <div class="row">
        <div class="col-12 text-center mx-auto">
            <h1 class="logo-text">
                collection 2024
            </h1>
            <a href="{% url 'products' %}" type="button" class="btn btn-dark btn-lg text-light">shop now</a>
        </div>
    </div>
</div>

<div class="container text-center p-4">
    <h4>Free delivery on orders over £{{ free_delivery_threshold }}</h4>
</div>

<!--
<div class="container">
    <div class="row landing-cards my-auto">
        <div class="col-s-12 col-md-6 col-lg-4">
            <div class="card justify-content-center" style="width: 18rem;">
                <img src="/media/images/landing-brace.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="btn btn-outline-dark"><strong>shop bracelets.</strong></a>
                </div>
            </div>
        </div>
        <div class="col-s-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="/media/images/landing-earrings.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">earrings.</h5>
                    <p class="card-text">Some text here.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-s-12 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="/media/images/landing-necklace.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">necklaces.</h5>
                    <p class="card-text">Some text here.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
-->