html {
    height: 100%
}

body {
  font-family: 'Lato', sans-serif;
}

h1 {
  padding: 20px 0;
}

.logo-text {
    font-family: 'Tenor Sans', sans-serif;
    color: black;
}

footer {
    margin: 20px;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding-top: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .header-container {
    padding-top: 160px;
  }
}