html {
    height: 100%
}

body {
    height: calc(100vh - 164px);
    font-family: 'Lato', sans-serif;
}

.logo-text {
    font-family: 'Tenor Sans', sans-serif;
    color: black;
}



.landing-header {
    padding: 200px;
}

footer {
    margin: 20px;
}
