html {
    height: 100%
}

body {
    height: calc(100vh - 164px);
    font-family: 'Lato', sans-serif;
}

.logo-text {
    font-family: 'Tenor Sans', sans-serif;
    color: black;
}

.font-weight-bold {
    font-weight: bold !important;
}

.landing-header {
    padding: 200px;
}

footer {
    margin: 20px;
}

  @media (max-width: 991.98px) {
    .mobile-top-header {
      display: block; /* Show on smaller screens */
    }
    .main-nav {
      display: none; /* Hide main nav on smaller screens */
    }
  }

  @media (min-width: 992px) {
    .mobile-top-header {
      display: none; /* Hide on larger screens */
    }
    .main-nav {
      display: block; /* Show main nav on larger screens */
    }
  }