<div class="row">
    <div class="col">
        <div class="row help">
            <strong>Help</strong>
        </div>
        <a class="row" href="">About Us </a>
        <a class="row" href="">Contact Us</a>
        <a class="row" href="">Frequently Asked Questions</a>
        <a class="row" href="">Shipping & Returns</a>
    </div>

    <div class="col">
        <div class="row mb-2">
            <span>
                <strong>Legal</strong>
            </span>
        </div>
        <a class="row" href="">Privacy Policy</a>
        <a class="row" href="">Terms & Conditions</a>
        <a class="row" href="">Returns Policy</a>
        
        <div class="mb-2 socials">
            <div class="row">
                <strong>Socials</strong>
            </div>
            <div class="row">
                <a class="mx-2" href=""><i class="fa-brands fa-instagram"></i></a>
                <a class="mx-2" href=""><i class="fa-brands fa-facebook-f"></i></a>
                <a class="mx-2" href=""><i class="fa-brands fa-x-twitter"></i></a>
                <a class="mx-2" href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="col-6 mb-2">
        <div class="row newsletter">
            <strong>Newsletter</strong>
        </div>
        <div class="row mb-2">
            <span class="text-left">Sign up to our newsletter to get updates!</span>
        </div>
        <div class="row">
            <form action="">
                <input type="email" name="newsletter-email" id="newsletter-email" placeholder="Email Address"
                    aria-label="Email address input field">
                <button class="btn btn-small btn-dark" type="submit">Submit</button>
            </form>
        </div>
        <div class="row mt-2">
            <i class="fa fa-copyright"></i> Copyright 2024
        </div>
    </div>
</div>
</div>