<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- All Products -->
        <li class="nav-item">
            <a class="nav-link text-dark" href="">all products.</a>
        </li>

        <!-- Bracelets -->
        <li class="nav-item ">
            <a class="nav-link text-dark" href="">bracelets.</a>
        </li>

        <!-- Earrings -->
        <li class="nav-item dropdown p-0">
            <a class="nav-link text-dark" aria-current="page" role="button" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">earrings.
            </a>
            <ul class="dropdown-menu border-0">
                <li class="dropdown-item border-0">
                    <a class="text-dark" href="">huggies earrings</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">hoop earrings</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">stud earrings</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">ear cuffs</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">gold earrings</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">silver earrings</a>
                </li>
            </ul>
        </li>

        <!-- Necklaces -->
        <li class="nav-item dropdown">
            <a class="nav-link text-dark" aria-current="page" role="button" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">necklaces.
            </a>
            <ul class="dropdown-menu border-0">
                <li class="dropdown-item">
                    <a class="text-dark" href="">pendant necklaces</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">chain necklaces</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">gold necklaces</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">silver necklaces</a>
                </li>
            </ul>
        </li>

        <!-- Rings -->
        <li class="nav-item dropdown">
            <a class="nav-link text-dark" aria-current="page" role="button" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">rings.</a>
            <ul class="dropdown-menu border-0">
                <li class="dropdown-item">
                    <a class="text-dark" href="">gold rings</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">silver rings</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">rose gold rings</a>
                </li>
            </ul>
        </li>

        <!-- Sale -->
        <li class="nav-item">
            <a class="nav-link text-dark" href="">view sale.</a>
        </li>

        <!-- Collections -->
        <li class="nav-item dropdown">
            <a class="nav-link text-dark" aria-current="page" role="button" href="#" data-bs-toggle="dropdown"
                aria-expanded="false">collections.</a>
            <ul class="dropdown-menu border-0">
                <li class="dropdown-item">
                    <a class="text-dark" href="">collection 1</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">collection 2</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">collection 3</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="">collection 4</a>
                </li>
            </ul>
        </li>
    </ul>
</div>