<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                products.
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">bracelets</a>
                <a href="" class="dropdown-item">earrings</a>
                <a href="" class="dropdown-item">necklaces</a>
                <a href="" class="dropdown-item">rings</a>
                <a href="" class="dropdown-item">view all</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                bracelets.
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                earrings.
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">hoop earrings</a>
                <a href="" class="dropdown-item">huggies</a>
                <a href="" class="dropdown-item">stud earrings</a>
                <a href="" class="dropdown-item">barbell earrings</a>
                <a href="" class="dropdown-item">ear cuffs</a>
                <a href="" class="dropdown-item">earring sets</a>
                <a href="" class="dropdown-item">gold earrings</a>
                <a href="" class="dropdown-item">silver earrings</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                necklaces.
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">pendant necklaces</a>
                <a href="" class="dropdown-item">chain necklaces</a>
                <a href="" class="dropdown-item">choker necklaces</a>
                <a href="" class="dropdown-item">gold necklaces</a>
                <a href="" class="dropdown-item">silver necklaces</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                rings.
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">gold rings</a>
                <a href="" class="dropdown-item">silver rings</a>
                <a href="" class="dropdown-item">rose gold rings</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                sale.
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="">View All Sale</a>
            </div>
        </li>
    </ul>
</div>