{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner_content %}

<hr>
<!-- Page Header -->
<h1 class="logo-font mt-4 text-center">{% trans "Sign In" %}</h1>
<hr>

<div class="container text-center">

  <!-- Sign up message -->
  <p class="text-center">{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}" aria-label="go to sign up page" class="text-dark"><u>sign up</u></a> first.{% endblocktrans %}</p>
  
  <!-- Login form -->
  <form class="login" method="POST" action="{% url 'account_login' %}" aria-label="username/email and password input fields">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <!-- Return to home button -->
    <a href="" class="btn btn-outline-black rounded-0 text-uppercase" href="{% url 'home' %}" 
       aria-label="return to homepage">Return to home</a>
    
    <!-- Sign In button -->
    <button class="primaryAction text-uppercase" type="submit" aria-label="Sign in">{% trans "Sign In" %}</button>
    
    <!-- Forgot password button -->
    <p class="mt-2">
      <a class="button text-dark secondaryAction" href="{% url 'account_reset_password' %}" 
         aria-label="Forgot password?"><u>Forgot Password?</u></a>
    </p>
  </form>
</div>

{% endblock %}