{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<hr>
<!-- Page Header -->
<h1 class="logo-font mt-4 text-center">{% trans "Sign Up" %}</h1>
<hr>

<div class="container text-center">

  <!-- Sign Up Form -->
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}" 
        aria-label="sign up form">
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <!-- Sign up button -->
    <button type="submit" class="col-12 col-md-6 text-uppercase" aria-label="Sign up">{% trans "Sign Up" %}</button>
  </form>
  <!-- Sign in link -->
  <p class="text-center">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}" class="text-dark" aria-label="already have an account? sign in"><u>sign in</u></a>.{% endblocktrans %}</p>  
</div>

{% endblock %}
