<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Index -->
        <li class="nav-item my-2">
            <a class="nav-link text-dark text-uppercase" href="{% url 'home' %}" aria-label="home">home.</a>
        </li>

        <!-- Who are we -->
        <li class="nav-item dropdown my-2">
            <a class="nav-link text-dark text-uppercase" aria-current="page" role="button" href="#" data-toggle="dropdown"
                aria-expanded="false" aria-label="who we are dropdown menu">who are we.</a>
            <ul class="dropdown-menu border border-4 rounded">
                <li class="dropdown-item">
                    <a class="text-dark text-uppercase" href="{% url 'about_us' %}" aria-label="about us">about us.</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark text-uppercase" href="{% url 'faq' %}" aria-label="FAQ">FAQ.</a>
                </li>
            </ul>
        </li>

        <!-- All Products -->
        <li class="nav-item my-2">
            <a class="nav-link text-dark text-uppercase" href="{% url 'products' %}" aria-label="all products">all products.</a>
        </li>

        <!-- Bracelets -->
        <li class="nav-item my-2">
            <a class="nav-link text-dark text-uppercase" 
               href="{% url 'products' %}?category=bracelets" aria-label="bracelets">bracelets.</a>
        </li>

        <!-- Earrings -->
        <li class="nav-item my-2">
            <a class="nav-link text-dark text-uppercase" 
               href="{% url 'products' %}?category=earrings" aria-label="earrings">earrings.</a>
        </li>

        <!-- Necklaces -->
        <li class="nav-item my-2">
            <a class="nav-link text-dark text-uppercase" 
               href="{% url 'products' %}?category=necklaces" aria-label="necklaces">necklaces.</a>
        </li>

        <!-- Rings -->
        <li class="nav-item my-2">
            <a class="nav-link text-dark text-uppercase" 
               href="{% url 'products' %}?category=rings" aria-label="rings">rings.</a>
        </li>
    </ul>
</div>