<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <!-- Index -->
        <li class="nav-item ">
            <a class="nav-link text-dark" href="{% url 'home' %}">home.</a>
        </li>

        <!-- Who are we -->
        <li class="nav-item dropdown">
            <a class="nav-link text-dark" aria-current="page" role="button" href="#" data-toggle="dropdown"
                aria-expanded="false">who are we.</a>
            <ul class="dropdown-menu border border-4 rounded">
                <li class="dropdown-item">
                    <a class="text-dark" href="{% url 'about_us' %}">about us.</a>
                </li>
                <li class="dropdown-item">
                    <a class="text-dark" href="{% url 'faq' %}">FAQ.</a>
                </li>
            </ul>
        </li>

        <!-- All Products -->
        <li class="nav-item">
            <a class="nav-link text-dark" href="{% url 'products' %}">all products.</a>
        </li>

        <!-- Bracelets -->
        <li class="nav-item ">
            <a class="nav-link text-dark" href="{% url 'products' %}?category=bracelets">bracelets.</a>
        </li>

        <!-- Earrings -->
        <li class="nav-item ">
            <a class="nav-link text-dark" href="{% url 'products' %}?category=earrings">earrings.</a>
        </li>

        <!-- Necklaces -->
        <li class="nav-item ">
            <a class="nav-link text-dark" href="{% url 'products' %}?category=necklaces">necklaces.</a>
        </li>

        <!-- Rings -->
        <li class="nav-item ">
            <a class="nav-link text-dark" href="{% url 'products' %}?category=rings">rings.</a>
        </li>
    </ul>
</div>