{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page Header -->
<div class="container header-container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="logo-font pt-4">About Us</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- About Us -->
        <div class="col-12 px-4">
            <p class="p-4 mx-4">In 2010, three friends, Maya, a silversmith with a penchant for vintage designs, Daniel, a
                stone carver with a passion for hidden gems, and Sarah, a textile artist with a flair for the
                unconventional, all found themselves yearning for something more. They craved beautiful, handcrafted
                jewellery that wouldn't break the bank. Tired of mass-produced trends and limited options, they decided
                to take matters into their own hands.
                <br>
                <br>
                Thus, Craft Collective was born. Fueled by friendship, a shared love for the artisanal, and a mission to
                make exquisite jewellery accessible, they started small. Maya's delicate silverwork was paired with
                Daniel's unearthed gemstones, and Sarah's hand-woven accents added a touch of whimsical flair. They sold
                their creations at local markets, the joy on their customers' faces solidifying their purpose.
                Word spread, and soon, Craft Collective became an online haven for those seeking unique, handcrafted
                pieces that whispered stories and celebrated individuality. Today, it's a thriving community of
                passionate artisans, each adding their own magic to the collective, ensuring that every piece remains as
                special, unique, and affordable as it was on that first market day.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}