{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page Header -->
<div class="container header-container align-content-center">
    <div class="row">
        <div class="col text-center">
            <h2 class="logo-font">Frequently Asked Questions</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- Accordian for Q & A content -->
<div class="accordion col-sm-10 col-md-8 mx-auto px-4 my-4" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h3 class="mb-0">
                <button class="btn btn-link text-dark text-left" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <i class="fas fa-caret-down"></i>  
                    Q: What is craft collective.?
                </button>
            </h3>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                A: craft collective. is an online jewellery story founded in 2010 by three friends focused on producing
                high quality and handcrafted jewellery that’s both beautiful and affordable. </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link text-dark text-left" type="button" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                    <i class="fas fa-caret-down"></i>
                    Q: What makes craft collective. different?
                </button>
            </h2>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                A: Craft Collective isn't your average jewellery store. We're a passionate bunch of artisans who believe
                everyone deserves beautiful, handcrafted pieces. We ditch the mass-produced trends and sky-high prices,
                offering unique designs made with love and skill by our talented community.
                <br>
                <br>
                Here, you'll find jewellery as special as you are. Whether you crave delicate elegance or bold
                statements, we have something to make you shine. Plus, with our commitment to affordability, you can
                treasure handcrafted luxury without emptying your wallet. Welcome to Craft Collective, where
                individuality and artistry meet!

            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link text-dark text-left" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <i class="fas fa-caret-down"></i>
                        Q: Do you have any physical stores?
                    </button>
                </h2>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    A: While we love the idea of a brick-and-mortar store filled with our handcrafted treasures, we're
                    currently an online-only operation! This allows us to keep our overhead costs low, which means we
                    can keep our jewellery pieces affordable and accessible for you. We understand some folks miss the
                    in-person experience, but we hope our detailed product descriptions and photos bring the beauty of
                    our pieces to life!
                    <br>
                    <br>
                    However, we do participate in occasional pop-up markets and events. Keep an eye on our social media
                    pages and website announcements for upcoming opportunities to see our collections in person!

                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link text-dark text-left" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <i class="fas fa-caret-down"></i>
                            Q: Do you manufacture in less developed countries?
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        A: At Craft Collective, we focus on keeping our jewellery creation close to home. We proudly
                        support British craftsmanship! Every piece of jewellery you see is handmade and manufactured
                        right here in the UK by our talented community of artisans. This allows us to ensure the quality
                        of materials and production practices we value, and to directly support the amazing artists we
                        collaborate with.
                    </div>
                </div>
            </div>
        </div>
{% endblock %}