{% extends "base.html" %}
{% load static %}

{% block page_header %}
<!-- Page Header -->
<div class="container header-container">
    <div class="row">
        <hr>
        <h2 class="logo-font mb-4 text-center">Product Management</h2>
        <hr>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mb-4">
        
        <!-- Subtitle -->
        <h5 class="text-muted text-center">Add a Product</h5>
        
        <!-- Add Product Form -->
        <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center">
                
                <!-- Cancel Button -->
                <a class="btn btn-outline-black rounded-0" href="{% url 'products' %}" 
                   aria-label="Cancel adding product">Cancel</a>
                
                <!-- Add Product Button-->
                <button class="btn btn-black rounded-0" type="submit" aria-label="add product">Add Product</button>
            </div>
        </form>
    </div>
{% endblock %}